<h1>Stupid Coaching</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->
<form class = "form_style" action="/answer">
  <input type="text" name="question" placeholder="Speak, he shall answer..">
  <input class="button" type="submit" value="Ask!">
</form>
